.donor-img {
  width: 250px;
  height: 150px;
  margin: 10px;
  border: 2px solid rgb(11, 90, 236);
}
.donor-info {
  margin: 10px;
  border: 2px solid rgb(100, 100, 97);
  border-radius: 15px;
  background-color: rgba(27, 104, 219, 0.479);
  padding-bottom: 10px;
}
.donor-info:hover {
  background-color: rgba(235, 92, 10, 0.445);
}
.donate-btn {
  background-color: rgb(18, 8, 155);
  width: 150px;
  height: 30px;
  border-radius: 5px;
  font-weight: bold;
}
